/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  font-size: 18px;
}

header {
  background-image: url("../images/bgtile.png");
  background-repeat: repeat-x;
  height: 311px;
}
 
.img-container {
  display: inline-block;
  width:40%;
}

.img-container img {
  margin-left: 180px;
}

main {
  margin-top: -190px;
}

article {
  display: inline-block;
  width: 39%;
  vertical-align: top;
  margin-left: 30px;
}

.article-top {
  height:79px;
  margin-top: 19px;
}

.article-top img {
  width:290px;
  margin-left: 3px;
}

.login-button {
  width:90px;
  float: right;
  margin: 22px 3px 10px 0;
  height: 30px;
 /* background-color: navy;*/
  background-image: url("../images/bgtile.png");
  background-repeat: repeat-x;
  color: white;
  border: 1px blue;
  box-shadow: 1px 1px 3px #0C0000;
  border-radius: 3px;
}

.login-button img {
  width:20px;
  vertical-align: bottom;
  margin:3px 0 8px 5px;

}

.login-button p {
  display:inline-block;
  margin: 3px 0px 5px 9px;
  font-size: 0.8em;
  font-weight: bold;
}

.article-bottom {
  background-image: url("../images/frame.png");
  background-repeat: no-repeat;
}

.article-bottom h1 {
    margin: 25px;
    margin-bottom: 0;
    display: inline-block;
    font-size: 1.3em;
    color: #01015C;
}

.article-bottom p {
  padding:0 20px;
  font-size: 0.9em;
}

.article-bottom img {
  margin-left: 17px;
}

nav {
  margin-top: 58px;
  margin-left: 283px;
}

nav ul li {
  display:inline-block;
  margin-left: 10px;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
}

nav ul li a {
  text-decoration: none;
}

.copyright {
  color: rgba(58, 50, 50, 0.49);
}