/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  font-size: 18px;
}

header {
  background-color: #5151BB;
  height: 311px;
}
 
.img-container {
  display: inline-block;
  width:40%;
  border: 1px solid red;
}

.img-container img {
  margin-left: 180px;
}

main {
  margin-top: -190px;
}

article {
  display: inline-block;
  width: 39%;
  vertical-align: top;
  border: 1px solid orange; 
}

.article-top {
  height:105px;
}

.article-top img {
  width:290px;
}

button {
  width:81px;
  width: 81px;
  float: right;
  margin-top: 22px;
  height: 30px;
}

.article-bottom {
  background-image: url("../images/frame.png");
  background-repeat: no-repeat;
}

h1 {
    margin: 25px;
    margin-bottom: 0;
    display: inline-block;
    font-size: 1.3em;
    color: navy;
}

.article-bottom p {
  padding:0 20px;
  font-size: 0.9em;
}